<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<stackLayout class="page__content center">
    <Image src="res://coursera" stretch="none" class="center" ></Image>
    <Label class="page__content-placeholder" text="Seleccionar 'Listado' "></Label>
    <Label class="page__content-placeholder" text="desde el menu lateral y  "></Label>
    <Label class="page__content-placeholder" text="luego un elemento "></Label>
</stackLayout>