<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Listado"></Label>
</ActionBar>

<ScrollView row="1" class="mystyle nt-drawer__body center">
    <StackLayout  class="list-group-item">
        <GridLayout class="list-group-item" *ngFor="let x of listado"  (tap)="onNavItemTap('/listado/noticia')" columns="auto, *" >
            <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
            <Label col="1" [text]="x"   class="p-r-10"></Label>
        </GridLayout>
</StackLayout>